@media (max-width:600px) and (min-width:100px),
(orientation:portrait) {
  body {
    background-color: white;
  }

  ul {
    background-color: rgb(23, 22, 22);
  }

  ul li a {
    color: white;
  }

  address {
    background-color: ;
  }

  nav {
    background-color: rgb(23, 22, 22);
    border-bottom: 3px solid white;
  }

  nav p {
    background-color: black;
  }

  .parent {
    display: grid;
    grid-template-columns: auto auto;
  }

  .child:nth-child(9) {
    display: none;
  }

  p a:hover {
    background-color: black;
  }

  li a {
    font-size: 18px;
  }


  /*Text animation add*/

  ul li a {

    background: linear-gradient(90deg, white, red, white, red,crimson,yellow);
    background-clip: text;
    color: transparent;
    animation: text_animation 2s infinite linear;
    background-size: 200%;

  }

  @keyframes text_animation {

    0% {
      background-position: 0%;
    }

    100% {
      background-position: 200%;
    }
  }


  footer a{
  background-color: white;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

footer:hover a{
  background-color: white;
  font-size: 20px;
  color: black;
  font-weight: bold;
}



footer a {

  background: linear-gradient(90deg, crimson, red, black,orangered);
  background-clip: text;
  color: transparent;
  animation: text_animation 2s infinite linear;
  background-size: 200%;

}

@keyframes text_animation {

  0% {
    background-position: 0%;
  }

  100% {
    background-position: 200%;
  }
}












}